[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "https://demo.astroswiss.ch/*"
  to = "https://demo.astroswiss.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200